#menu {
    ul {
        background-color: pink;
        li {
            color: red;
            a {
                color: gold;
            }
        }
    }
}
div {
    color: red;
    p {
        background-color: green;
        a {
            color: gold;
        }
    }
}